body {
    background-color: goldenrod;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

button {
    padding: 2px 5px;
    font-size: 32px;
    font-weight: 500;
    margin-right: 5px;
}